includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		# Ignore PHP soft-failing functions
		- message: '#.+(int|string|string\>)\|false.+#'
		  path: %currentWorkingDirectory%/src/SchemaDefinition/Entity/EntityAdapter.php
