parameters:
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		# Ignore PHP soft-failing functions
		- message: '#.+(int|string|string\>)\|false.+#'
		  path: %currentWorkingDirectory%/src/SchemaDefinition/Entity/EntityAdapter.php
